.items-cart{
    height: 400px;
    overflow-y: scroll;
  }
  
  .item-cart{
    display: flex;
    gap: 20px;
  
   padding: 10px 20px;
  }
  
  .item-cart img{
    width: 80px;
    padding: 0 10px;
    border: 1px solid rgba(192, 192, 192, 0.685);
  }
  
  .item-name{
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .item-listPrice{
    font-size: 10px;
    color: gray;
    margin-top: 10px;
  }
  
  .item-sellingPrice {
    font-size: 12px;
    font-weight: bold;
  }